@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #007bff;
  color: #ffffff;
}

.navbar {
  min-height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.navbar-brand {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-brand:hover {
  color: #e4f1ff;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}

nav li {
  list-style: none;
}

.nav-link {
  color: #9fd2e2;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #e4f1ff;
}

.nav-link.active {
  color: #ffffff;
}
